<h1>Validation Results</h1>

<!-- fatal errors (well formed-ness) -->
<% if @results[:fatals].empty? %>
<h2>Document is well-formed</h2>
<% else %>
<h2>Document is not well-formed:</h2>
<ul>
  <% @results[:fatals].each do |fatal| %>
  <li>
    <code>
      line <%= ERB::Util::h(fatal[:line]) %>, column <%= ERB::Util::h(fatal[:column]) %>:
      <%= ERB::Util::h(fatal[:message]) %>
    </code>
  </li>
  <% end %>
</ul>
<% end %>

<!-- normal errors -->
<% if @results[:errors].nil? %>
<h2 class="notperformed">Validation</h2>
<p>(not performed)</p>
<br/>
<% elsif @results[:errors].empty? %>
<h2>Document is valid</h2>

<% else %>
<h2>Document is invalid:</h2>
<ul>
  <% @results[:errors].each do |error| %>
  <li>
    <code>
      line <%= ERB::Util::h(error[:line]) %>, column <%= ERB::Util::h(error[:column]) %>:
      <%= ERB::Util::h(error[:message]) %>
    </code>
  </li>
  <% end %>
</ul>
<% end %>

<!-- deviations from best practice -->
<% if @results[:best_practice].nil? %>
<h2 class="notperformed">PREMIS in METS best practice conformance</h2>
<p>(not performed)</p>
<br/>
<% elsif @results[:best_practice].empty? %>
<h2>Document conforms to PREMIS in METS best practice</h2>
<% else %>

<% if @results[:best_practice].reject { |r| r[:rule_type] == 'report'}.length == 0 %>
<h2>Document conforms to PREMIS in METS best practice</h2>
<% else %>
<h2>Document does not conform to PREMIS in METS best practice:</h2>
<% end %>

<ul>
  <% @results[:best_practice].each do |deviation| %>
  <li>
    <code>
      <% if deviation[:rule_type] == 'report' %>WARNING: <% end %>    
      line <%= ERB::Util::h(deviation[:line]) %>,
      <%= ERB::Util::h(deviation[:type]) %> <%= ERB::Util::h(deviation[:name]) %>:
      <%= ERB::Util::h(deviation[:message]) %>
    </code>
  </li>
  <% end %>
</ul>
<% end %>

